@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .header-icon {
    width: 24px;
    height: 24px;
  }
}
* {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color:transparent;
}

.min-tag-width {
  min-width: 40px;
}

.tags {
  padding: .5rem 1rem;
}